USE [master]
GO
/****** Object:  Database [EasyShift]    Script Date: 19/06/2022 20:00:18 ******/
CREATE DATABASE [EasyShift]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EasyShift', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS2019\MSSQL\DATA\EasyShift.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EasyShift_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS2019\MSSQL\DATA\EasyShift_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EasyShift].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EasyShift]
GO
/****** Object:  Table [dbo].[Employee_request_tbl]    Script Date: 19/06/2022 20:00:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee_request_tbl](
	[employee_request_id] [int] IDENTITY(1,1) NOT NULL,
	[employee_id] [int] NOT NULL,
	[shift_id] [int] NOT NULL,
	[job_id] [int] NOT NULL,
	[priority_id] [int] NOT NULL,
	[status] [int] NOT NULL,
	[request_date] [datetime] NULL,
 CONSTRAINT [PK_Emoloyee_request_tbl] PRIMARY KEY CLUSTERED 
(
	[employee_request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee_tbl]    Script Date: 19/06/2022 20:00:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee_tbl](
	[employee_id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [nvarchar](30) NOT NULL,
	[last_name] [nvarchar](30) NOT NULL,
	[seniority_years]  AS (datepart(year,getdate())-datepart(year,[date_start_job])),
	[employee_id_str] [nvarchar](9) NOT NULL,
	[mail] [nvarchar](50) NOT NULL,
	[cellphone_number] [nvarchar](20) NOT NULL,
	[num_shifts_in_week] [int] NOT NULL,
	[num_shifts_left_to_placement] [int] NULL,
	[job_id] [int] NOT NULL,
	[date_start_job] [date] NOT NULL,
 CONSTRAINT [PK_Employee_tbl] PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jobs_tbl]    Script Date: 19/06/2022 20:00:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jobs_tbl](
	[job_id] [int] IDENTITY(1,1) NOT NULL,
	[description] [nvarchar](3000) NOT NULL,
 CONSTRAINT [PK_Jobs_tbl] PRIMARY KEY CLUSTERED 
(
	[job_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jobs_to_shift_tbl]    Script Date: 19/06/2022 20:00:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jobs_to_shift_tbl](
	[jobs_to_shift_id] [int] IDENTITY(1,1) NOT NULL,
	[job_id] [int] NOT NULL,
	[shift_id] [int] NOT NULL,
	[num_employees_requierd] [int] NOT NULL,
	[request_date] [date] NOT NULL,
 CONSTRAINT [PK_Jobs_to_shift_tbl] PRIMARY KEY CLUSTERED 
(
	[jobs_to_shift_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlacementResults_tbl]    Script Date: 19/06/2022 20:00:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlacementResults_tbl](
	[result_id] [int] IDENTITY(1,1) NOT NULL,
	[shift_id] [int] NOT NULL,
	[employee_id] [int] NOT NULL,
	[job_id] [int] NOT NULL,
	[statisfaction_level] [int] NULL,
	[placement_date] [date] NOT NULL,
 CONSTRAINT [PK_PlacementResults_tbl] PRIMARY KEY CLUSTERED 
(
	[result_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Priority_tbl]    Script Date: 19/06/2022 20:00:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Priority_tbl](
	[priority_id] [int] NOT NULL,
	[priority_description] [nvarchar](3000) NOT NULL,
 CONSTRAINT [PK_Priority_tbl] PRIMARY KEY CLUSTERED 
(
	[priority_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Settings_tbl]    Script Date: 19/06/2022 20:00:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Settings_tbl](
	[num_paths] [int] NOT NULL,
	[num_employees] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shift_tbl]    Script Date: 19/06/2022 20:00:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shift_tbl](
	[shift_id] [int] IDENTITY(1,1) NOT NULL,
	[day] [int] NOT NULL,
	[shift_type_id] [int] NOT NULL,
 CONSTRAINT [PK_Shift_tbl] PRIMARY KEY CLUSTERED 
(
	[shift_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShiftType_tbl]    Script Date: 19/06/2022 20:00:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShiftType_tbl](
	[shift_type_id] [int] IDENTITY(1,1) NOT NULL,
	[beginning_time] [time](7) NOT NULL,
	[end_time] [time](7) NOT NULL,
	[description] [nvarchar](3000) NOT NULL,
 CONSTRAINT [PK_ShiftType_tbl] PRIMARY KEY CLUSTERED 
(
	[shift_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Employee_request_tbl] ON 

INSERT [dbo].[Employee_request_tbl] ([employee_request_id], [employee_id], [shift_id], [job_id], [priority_id], [status], [request_date]) VALUES (5, 2, 1, 1, 10, 0, CAST(N'2022-06-09T18:20:39.917' AS DateTime))
INSERT [dbo].[Employee_request_tbl] ([employee_request_id], [employee_id], [shift_id], [job_id], [priority_id], [status], [request_date]) VALUES (13, 4, 1, 2, 40, 1, CAST(N'2022-06-09T18:21:07.140' AS DateTime))
INSERT [dbo].[Employee_request_tbl] ([employee_request_id], [employee_id], [shift_id], [job_id], [priority_id], [status], [request_date]) VALUES (14, 4, 2, 2, 30, 1, CAST(N'2022-06-09T18:21:07.140' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Employee_request_tbl] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee_tbl] ON 

INSERT [dbo].[Employee_tbl] ([employee_id], [first_name], [last_name], [employee_id_str], [mail], [cellphone_number], [num_shifts_in_week], [num_shifts_left_to_placement], [job_id], [date_start_job]) VALUES (1, N'נחמי', N'הלפגוט', N'212508220', N'n0504119296@gmail.com', N'0504119296', 6, 0, 1, CAST(N'2012-06-05' AS Date))
INSERT [dbo].[Employee_tbl] ([employee_id], [first_name], [last_name], [employee_id_str], [mail], [cellphone_number], [num_shifts_in_week], [num_shifts_left_to_placement], [job_id], [date_start_job]) VALUES (2, N'חוי', N'הירש', N'214871063', N'ch0534170237@gmail.com', N'0534170237', 5, 0, 1, CAST(N'2019-06-04' AS Date))
INSERT [dbo].[Employee_tbl] ([employee_id], [first_name], [last_name], [employee_id_str], [mail], [cellphone_number], [num_shifts_in_week], [num_shifts_left_to_placement], [job_id], [date_start_job]) VALUES (4, N'אסתי', N'הלפגוט', N'057229411', N'avihelfgot@gmail.com', N'0534124212', 5, 0, 2, CAST(N'2020-07-05' AS Date))
SET IDENTITY_INSERT [dbo].[Employee_tbl] OFF
GO
SET IDENTITY_INSERT [dbo].[Jobs_tbl] ON 

INSERT [dbo].[Jobs_tbl] ([job_id], [description]) VALUES (1, N'אחות')
INSERT [dbo].[Jobs_tbl] ([job_id], [description]) VALUES (2, N'מזכירה')
INSERT [dbo].[Jobs_tbl] ([job_id], [description]) VALUES (3, N'מנקה')
SET IDENTITY_INSERT [dbo].[Jobs_tbl] OFF
GO
SET IDENTITY_INSERT [dbo].[Jobs_to_shift_tbl] ON 

INSERT [dbo].[Jobs_to_shift_tbl] ([jobs_to_shift_id], [job_id], [shift_id], [num_employees_requierd], [request_date]) VALUES (1, 1, 1, 7, CAST(N'2021-12-26' AS Date))
INSERT [dbo].[Jobs_to_shift_tbl] ([jobs_to_shift_id], [job_id], [shift_id], [num_employees_requierd], [request_date]) VALUES (2, 2, 1, 3, CAST(N'2021-12-26' AS Date))
INSERT [dbo].[Jobs_to_shift_tbl] ([jobs_to_shift_id], [job_id], [shift_id], [num_employees_requierd], [request_date]) VALUES (3, 3, 1, 2, CAST(N'2021-12-26' AS Date))
SET IDENTITY_INSERT [dbo].[Jobs_to_shift_tbl] OFF
GO
SET IDENTITY_INSERT [dbo].[PlacementResults_tbl] ON 

INSERT [dbo].[PlacementResults_tbl] ([result_id], [shift_id], [employee_id], [job_id], [statisfaction_level], [placement_date]) VALUES (2395, 21, 18, 3, 0, CAST(N'2022-06-10' AS Date))
INSERT [dbo].[PlacementResults_tbl] ([result_id], [shift_id], [employee_id], [job_id], [statisfaction_level], [placement_date]) VALUES (2396, 20, 12, 3, 0, CAST(N'2022-06-10' AS Date))
INSERT [dbo].[PlacementResults_tbl] ([result_id], [shift_id], [employee_id], [job_id], [statisfaction_level], [placement_date]) VALUES (2397, 20, 31, 3, 0, CAST(N'2022-06-10' AS Date))
GO
SET IDENTITY_INSERT [dbo].[PlacementResults_tbl] OFF
GO
INSERT [dbo].[Priority_tbl] ([priority_id], [priority_description]) VALUES (10, N'לא יכול')
INSERT [dbo].[Priority_tbl] ([priority_id], [priority_description]) VALUES (20, N'מעדיף שלא')
INSERT [dbo].[Priority_tbl] ([priority_id], [priority_description]) VALUES (30, N'ניטרלי')
GO
INSERT [dbo].[Settings_tbl] ([num_paths], [num_employees]) VALUES (12, 15)
GO
SET IDENTITY_INSERT [dbo].[Shift_tbl] ON 

INSERT [dbo].[Shift_tbl] ([shift_id], [day], [shift_type_id]) VALUES (1, 1, 1)
INSERT [dbo].[Shift_tbl] ([shift_id], [day], [shift_type_id]) VALUES (2, 1, 2)
INSERT [dbo].[Shift_tbl] ([shift_id], [day], [shift_type_id]) VALUES (3, 1, 3)
SET IDENTITY_INSERT [dbo].[Shift_tbl] OFF
GO
SET IDENTITY_INSERT [dbo].[ShiftType_tbl] ON 

INSERT [dbo].[ShiftType_tbl] ([shift_type_id], [beginning_time], [end_time], [description]) VALUES (1, CAST(N'07:00:00' AS Time), CAST(N'15:00:00' AS Time), N'בוקר ')
INSERT [dbo].[ShiftType_tbl] ([shift_type_id], [beginning_time], [end_time], [description]) VALUES (2, CAST(N'15:00:00' AS Time), CAST(N'23:00:00' AS Time), N'צהריים')
INSERT [dbo].[ShiftType_tbl] ([shift_type_id], [beginning_time], [end_time], [description]) VALUES (3, CAST(N'23:00:00' AS Time), CAST(N'07:00:00' AS Time), N'לילה')
SET IDENTITY_INSERT [dbo].[ShiftType_tbl] OFF
GO
ALTER TABLE [dbo].[Employee_request_tbl] ADD  CONSTRAINT [DF_Employee_request_tbl_request_date]  DEFAULT (getdate()) FOR [request_date]
GO
ALTER TABLE [dbo].[Employee_request_tbl]  WITH CHECK ADD  CONSTRAINT [FK_Employee_request_tbl_Employee_tbl1] FOREIGN KEY([employee_id])
REFERENCES [dbo].[Employee_tbl] ([employee_id])
GO
ALTER TABLE [dbo].[Employee_request_tbl] CHECK CONSTRAINT [FK_Employee_request_tbl_Employee_tbl1]
GO
ALTER TABLE [dbo].[Employee_request_tbl]  WITH CHECK ADD  CONSTRAINT [FK_Employee_request_tbl_Jobs_tbl] FOREIGN KEY([job_id])
REFERENCES [dbo].[Jobs_tbl] ([job_id])
GO
ALTER TABLE [dbo].[Employee_request_tbl] CHECK CONSTRAINT [FK_Employee_request_tbl_Jobs_tbl]
GO
ALTER TABLE [dbo].[Employee_request_tbl]  WITH CHECK ADD  CONSTRAINT [FK_Employee_request_tbl_Priority_tbl] FOREIGN KEY([priority_id])
REFERENCES [dbo].[Priority_tbl] ([priority_id])
GO
ALTER TABLE [dbo].[Employee_request_tbl] CHECK CONSTRAINT [FK_Employee_request_tbl_Priority_tbl]
GO
ALTER TABLE [dbo].[Employee_request_tbl]  WITH CHECK ADD  CONSTRAINT [FK_Employee_request_tbl_Shift_tbl] FOREIGN KEY([shift_id])
REFERENCES [dbo].[Shift_tbl] ([shift_id])
GO
ALTER TABLE [dbo].[Employee_request_tbl] CHECK CONSTRAINT [FK_Employee_request_tbl_Shift_tbl]
GO
ALTER TABLE [dbo].[Jobs_to_shift_tbl]  WITH CHECK ADD  CONSTRAINT [FK_Jobs_to_shift_tbl_Jobs_tbl1] FOREIGN KEY([job_id])
REFERENCES [dbo].[Jobs_tbl] ([job_id])
GO
ALTER TABLE [dbo].[Jobs_to_shift_tbl] CHECK CONSTRAINT [FK_Jobs_to_shift_tbl_Jobs_tbl1]
GO
ALTER TABLE [dbo].[Jobs_to_shift_tbl]  WITH CHECK ADD  CONSTRAINT [FK_Jobs_to_shift_tbl_Shift_tbl] FOREIGN KEY([shift_id])
REFERENCES [dbo].[Shift_tbl] ([shift_id])
GO
ALTER TABLE [dbo].[Jobs_to_shift_tbl] CHECK CONSTRAINT [FK_Jobs_to_shift_tbl_Shift_tbl]
GO
ALTER TABLE [dbo].[PlacementResults_tbl]  WITH CHECK ADD  CONSTRAINT [FK_PlacementResults_tbl_Employee_tbl] FOREIGN KEY([employee_id])
REFERENCES [dbo].[Employee_tbl] ([employee_id])
GO
ALTER TABLE [dbo].[PlacementResults_tbl] CHECK CONSTRAINT [FK_PlacementResults_tbl_Employee_tbl]
GO
ALTER TABLE [dbo].[PlacementResults_tbl]  WITH CHECK ADD  CONSTRAINT [FK_PlacementResults_tbl_Jobs_tbl] FOREIGN KEY([job_id])
REFERENCES [dbo].[Jobs_tbl] ([job_id])
GO
ALTER TABLE [dbo].[PlacementResults_tbl] CHECK CONSTRAINT [FK_PlacementResults_tbl_Jobs_tbl]
GO
ALTER TABLE [dbo].[PlacementResults_tbl]  WITH CHECK ADD  CONSTRAINT [FK_PlacementResults_tbl_Shift_tbl] FOREIGN KEY([shift_id])
REFERENCES [dbo].[Shift_tbl] ([shift_id])
GO
ALTER TABLE [dbo].[PlacementResults_tbl] CHECK CONSTRAINT [FK_PlacementResults_tbl_Shift_tbl]
GO
ALTER TABLE [dbo].[Shift_tbl]  WITH CHECK ADD  CONSTRAINT [FK_Shift_tbl_ShiftType_tbl] FOREIGN KEY([shift_type_id])
REFERENCES [dbo].[ShiftType_tbl] ([shift_type_id])
GO
ALTER TABLE [dbo].[Shift_tbl] CHECK CONSTRAINT [FK_Shift_tbl_ShiftType_tbl]
GO
USE [master]
GO
